##

How to prove while loop program correctness?

Condition: q * y + r = x

TODO:
1. while loop 0th: correct
2. while loop ith correct -> while loop i+1th correct


Proof:
1. 0th correct.
q == 0 && r == x ==>
q * y + r = 0 * y + r = x

2. ith correct -> i+1th correct
q_i * y + r_i == x 
q_{i+1} == q_i + 1
r_{i+1} == r_i - y 

q_{i+1} * y + r_{i+1} == x


array: 10 2 18 29 30 

query: 30

Java 1.0 binary search: buggy

regular expression?

